*,
*::before,
*::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

*:not(i){
        font-family: "Poppins", sans-serif;
}

body{
        background-color: #ae9cff;
}

.container{
        background-color: aliceblue;
        height: auto;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 8px;
        padding: 70px 35px;
}

.container .search{
        margin-top: 10px;
        width: 300px;
        border: none;
        outline: none;
        border-bottom: 2px #ae9cff solid;
        float: left;
        padding-bottom: 10px;
        background-color: aliceblue;
}

.clear{
        clear: both;
        content: "";
        margin: 0;
}

.container button{
        float: left;
        margin-left: 30px;
        width: 100px;
        height: 40px;
        background-color: #ae9cff;
        color: aliceblue;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

.container .nghia{
        margin-top: 70px;
}

.container .nghia .phantu{
        margin: 20px 0;
}

.error {
        margin-top: 80px;
        text-align: center;
}